body{
    background-color: #ffa600;
}
.container{
    text-align: center;
    margin-top: 80px;
    color: white;
    letter-spacing: 5px;
    font-size: 20px;
}
.root{
    text-align: center;
    margin-top: 50px;
    color: white;
    letter-spacing: 5px;
    font-size: 35px;
    margin-bottom: -30px;
}
.row button{
    height: 65px;
    width: 200px;
    font-size: 20px;
    background-color: #ffa600;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.row button:hover{
    background-color: white;
    color: #ffa600;
}