.container{
    text-align: center;
}
input{
    width: 295px;
    height: 48px;
    border-radius: 20px;
    font-size: 40px;
    padding-left: 10px;
}
table{
    margin: auto;
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 20px;
}
button{
    background-color: chocolate;
    width: 71px;
    height: 90px;
    font-size: 30px;
    border-radius: 20px;
}
h1{
    background-color: darkcyan;
    color: white;
    margin-top: -8px;
}